@charset "UTF-8";
/* CSS for form */

#a1cmain{
	background-color:#FFFFFF;
	padding-left:50px;
	padding-right:0px;
	width:800px;
	height:400px;
	text-align:left;

	}

#a1cform {background-color:#E7E7E7;
	padding:1em;	
	height:250px;
	width:530px;
	border-radius: 15px;
	box-shadow: 25px 25px 50px #333333;
	}
	

#a1cform p {
    font-size:12px;
    margin:0 0 8px 0;
    line-height:18px;
    width:650px;
}

#a1cuser {
	border-style:dotted;
    border-width:1px;
    border-color:#000000;
    background-color:#FFFFFF;
	border-radius: 10px;
	color:#000;
    padding:1em;

	width:200px;
	height:100px;

    float:left;
}

#a1cresults {
	border-style:dotted;
    border-width:1px;
    border-color:#000000;
    background-color:#FFFFFF;
	border-radius: 10px;
	color:#000;
	float:left;
    padding:1em;

	width:260px;
	height:100px;
}

#a1cmessage {
    float:left;
}


	
	
