body {
margin:0;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000;
text-align:left;
}
center {
}
a:link {
	color: #45443D;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #45443D;
}
a:hover {
	text-decoration: underline;
	color: #45443D;
}
FONT.C1{background-color:#FFFF00;}
.toggle {
	color: #999999;
	font-size: 9pt;
}
FONT.C2{background-color:#80FF80;}
.toggle {
	color: #999999;
	font-size: 9pt;
}
FONT.C3{background-color:#FFFF80;}
.toggle {
	color: #999999;
	font-size: 9pt;
}
FONT.C4{background-color:#D8F6D8;}
.toggle {
	color: #999999;
	font-size: 9pt;
}
FONT.C5{background-color:#FF00FF;}
.toggle {
	color: #000000;
	font-size: 9pt;
}
.hotspot {
	color: #FF6600;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	cursor: help;
}
.hotspotall {
	color: #FF6600;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	cursor: help;
	font-weight: bold;
	}
/*----------------------------------------
								New Code
-----------------------------------------*/
td {
font-size:12px;
}
h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
margin:0 0 8px 0;
}
div#container {
text-align:left;
width:800px;
}
h2 {
margin:0 0 24px 0;
padding:0 0 0 96px;
height:70px;
line-height:70px;

background-position:top left;
background-repeat:no-repeat;
font-size:20px;
color:#731E30;
font-family:"Times New Roman", Times, serif;
}
p {
font-size:12px;
margin:0 0 8px 0;
line-height:18px;
width:650px;
}
ul#nav {
margin:0;
padding:0;
list-style:none;
width:707px;
margin:0;
border-top:1px solid #fff;
height:50px;
}
ul#nav li {
margin:0 1px 0 0;
float:left;
font-size:12px;
width:100px;
}
ul#nav li a {
font-weight:normal;
display:block;
float:left;
line-height:26px;
width:100px;
text-align:center;
background-color:#EBEEEF;
color:#555;
text-decoration:none;
background-image:url(images/nav_bottom2.gif);
background-position:bottom left;
background-repeat:no-repeat;
}
ul#nav li.on a {
font-weight:bold;
background-color:#D0D7D8;
background-position:bottom right;
}
ul#nav li a:hover {
background-color:#D0D7D8;
background-position:bottom right;
}
form {
font-size:11px !important;
}
ol li {
font-size:12px;
margin:0 0 5px 0;
}
ol li a {
font-weight:normal;
}
a {
color:#45443D;
font-weight:bold;
}
ul li {
font-size:12px;
margin:0 0 4px 0;
}
ol#faq li a {
color:#731E30;
text-decoration:underline;
}
div.sharp {
background-color:#E2E2D6;
border:1px solid #D8D8C7;
padding:8px 4px;
}
div.sharp div {
padding:0 0 6px 0;
}
div.sharp input.txtField {
margin:0 8px 0 26px;
width:150px;
font-size:14px;
padding:3px 3px;
height:13px;
}
div.sharp input.txtField2 {
margin:0;
width:200px;
font-size:14px;
padding:1px 3px;
height:16px;
}